.list {
  list-style: none;
  padding: 0;
}

.item {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem 0.08rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: border-color 0.3sease;
  color: rgba(35, 33, 33, 0.808);
  margin-bottom: 5px;
}

.item:last-child {
  margin-bottom: 0;
}

.item span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  margin-right: 10px;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #9a9797;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.checkbox:checked::after {
  content: "✔";
  color: rgb(102, 99, 99);
}

.completed span {
  text-decoration: line-through;
  color: #9ca3af;
}

@media (max-width: 600px) {
  .item {
    padding: 0.5rem 0.1rem;
    font-size: 1rem;
  }
  .checkbox {
    width: 20px;
    height: 20px;
  }
}
