.form {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  font-size: 1.2rem;
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  color: var(--color-text);

  &:focus {
    outline: none;
    border-color: var(--color-focus);
  }
  &::placeholder {
    font-style: italic;
    opacity: 1;
    color: var(--color-placeholder);
  }
}

@media (max-width: 600px) {
  .input {
    font-size: 1rem;
  }
}
