.form {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;
  color: rgba(35, 33, 33, 0.808);

  &:focus {
    outline: none;
    border-color: #92b6f0;
  }
  &::placeholder {
    font-style: italic;
    opacity: 1;
    color: rgb(188, 184, 184);
  }
}
